<% for (var i=0; i < members.length; i++) { %>
  <div class="bandmate-container">
    <div id="soundwave-<%= members[i].id %>" class="soundwave"></div>
    <div class="bandmate-instrument">
      <div class="instrument">
        <img class="bandmate-instrument-pic" src="/images/<%= members[i].instrumentImg %>" />
      </div>
      <div class="bandmate-name"><%= members[i].userName %></div>
    </div>
 </div>
<% } %>