<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>HTML5 Band</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/welcome.css" rel="stylesheet">
    <link href="/css/band.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h1>(Band Name)</h1>
      <div id="content">
        <section>
          <div class="bandmate-instrument">
            <div class="instrument">(instrument image)</div>
            <div class="bandmate-name">Ed</div>
          </div>
          <div class="bandmate-instrument">
            <div class="instrument">(instrument image)</div>
            <div class="bandmate-name">Rohit</div>
          </div>
          <div class="bandmate-instrument">
            <div class="instrument">(instrument image)</div>
            <div class="bandmate-name">Yalcin</div>
          </div>
        </section>

        <section id="my-instrument">
          <h2>(username)</h2>
          <div>(instrument image)</div>
          <div>(keyboard mappings listed)</div>
        </section>
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>