<h3>Drum Instructions:</h3>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th class="text-center">Key</th>
			<th class="text-center">Sound</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>f</td>
			<td>Bass</td>
		</tr>
		<tr>
			<td>g</td>
			<td>Snare</td>
		</tr>
		<tr>
			<td>h</td>
			<td>High Hat</td>
		</tr>
		<tr>
			<td>j</td>
			<td>Cymbal</td>
		</tr>
	</tbody>
</table>